<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 화면</title>
    <link rel="stylesheet" type="text/css" href="../css/signup.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <header>
        <nav>
            <ul id="categori"> <!-- 리스트 목록등을 나열 할 때-->
                <li>
                    <a href="mainLogin.html" style="font-size: 80px; position: absolute; margin: 0;"> C </a>
                </li> <!-- 목록 -->
                <li> <a href = "mainLogin.html" style="margin-left: 1200px;"> About C </a> <br> </li>
                <li> <a href = "cafesUser.html "> Cafes </a> <br> </li>
                <li> <a href = "community.html"> Community </a> <br> </li>
                <li> <a href = "qna.html"> Q&A </a> <br> </li>
                <li> <a href = "login.html"> LOGIN </a> <br> </li>
            </ul>
        </nav>
    </header>

    <br><br>

    <section id="signupDiv">
        <div id="signup_form">
        <form id="signup_field">
            <h1>회원가입</h1>
            <label>아이디 (4~12자 영문, 숫자 조합)*<br><input type="text" name="id" class="inputCss" id="id"placeholder="아이디를 입력해 주세요">
                <input type="button" value="중복 확인" onclick="idcheck()" id="idcheck_btn"> </label><br>
            <label>비밀번호 (8~15자 영문 대소문자, 숫자, 특수문자 조합)*<br><input type="password" name="id"id="password" placeholder="비밀번호를 입력해 주세요"></label>
            <label>비밀번호 확인*<br><input type="password" name="id"id="re_password" placeholder="비밀번호를 확인해주세요"></label>
            <label>성함*<br><input type="text" name="id"id="name" placeholder="성함을 입력해 주세요"></label>
            <label>성별 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="male"name="gender"  value="man"> 남자 
                <input type="radio" id="female"name="gender"  value="woman"> 여자
            </label><br><br>
            <label>연락처* (숫자만 입력)<br><input type="text" name="id"id="phone" placeholder="연락처를 입력해 주세요"></label>
            <label>이메일*<br><input type="text" name="id"id="email" placeholder="이메일을 입력해 주세요"></label>
            <hr width = "90%" color="gray">
            <label><input type="checkbox" name="agree1" value="agree1"id="agree1">이용약관 동의(필수)</label><br>
            <label><input type="checkbox" name="agree2" value="agree2"id="agree2">개인정보 수집 밎 이용 동의(필수)</label><br>
            <label><input type="checkbox" name="agree3" value="agree3"id="agree3">개인정보 처리업무의 위탁에 동의(필수)</label><br>
            <label><input type="checkbox" name="agree4" value="agree4"id="agree4">이벤트 등 마케팅 홍보 수신에 동의(선택)</label><br>
            <a><input type="button" value="가입 완료" onclick="signup()" id="signup_btn"></a>
        </form>
        </div>
    </section>
    <hr style="margin-bottom: 20px;">
    <br>

    <footer id="footer">
        <nav id="footNav">
            <ul id="footText">
                <li>
                    상호명: 프로젝트 커피<br>
                    대표자: 홍길동 | 개인정보관리책임자: 최윤성<br>
                    사업자 등록번호: 000-00-00000 | 사업장 소재지: 서울특별시 강남구<br>
                    © Project Coffee 2022
                </li>
            </ul>
        </nav>
    </footer>


</body>
</html>
<script>
    //아이디 형식 확인하는 함수
    function idform(str){
        let reg_id = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z]{4,12}$/;
            if(reg_id.test(str)) {
                return true;
        }
            else {
                return false;
        }
    }


    //아이디 중복 확인 버튼 클릭시 실행되는 함수
    function idcheck(){
        let id = document.querySelector('#id');
        
        if(id.value == 'admin'){
            alert("사용할 수 없는 아이디입니다.");
        }else if(id.value==''){
            alert("아이디를 입력해 주세요.")
        }else if(!idform(id.value)){
            alert("아이디를 형식에 맞게 입력해 주세요.");
        }else alert("사용 가능한 아이디입니다.")
    }

    //비밀번호 형식 확인하는 함수
    function pwform(str){
        let reg_pw = /^(?=.*[a-zA-Z])((?=.*\d)(?=.*\W)).{8,15}$/;
            if(reg_pw.test(str)) {
                return true;
        }
            else {
                return false;
        }
    }

    
    //이메일 형식 확인하는 함수
    function emailform(str){
        let reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
            if(reg_email.test(str)) {
                return true;
        }
            else {
                return false;
        }
    }

    //가입 완료 버튼 클릭시 실행되는 함수
    function signup(){
        let id = document.querySelector('#id');
        let pw = document.querySelector('#password');
        let re_pw = document.querySelector('#re_password');
        let name = document.querySelector('#name');
        let phone = document.querySelector('#phone');
        let email = document.querySelector('#email');

        if(id.value == ''){
            alert("아이디를 입력해 주세요.");
        }else if(!idform(id.value)){
            alert("아이디를 형식에 맞게 입력해 주세요.");
        }else if(pw.value ==''){
            alert("비밀번호를 입력해 주세요");
        }else if(!pwform(pw.value)){
            alert("비밀번호를 형식에 맞게 입력해 주세요.");
        }else if(re_pw.value ==''){
            alert("비밀번호를 확인란을 입력해 주세요");
        }else if(pw.value != re_pw.value){
            alert("비밀번호와 비밀번호 확인란이 일치하지 않습니다. 다시 입력해 주세요.");
        }else if(name.value ==''){
            alert("성함을 입력해 주세요");
        }else if(phone.value ==''){
            alert("연락처를 입력해 주세요");
        }else if(email.value ==''){
            alert("이메일을 입력해 주세요");    
        }else if(!emailform(email.value)){
            alert("이메일을 잘못 입력했습니다. 다시 입력해 주세요");
        }else if ($("input:checkbox[name=agree1]").is(":checked") == false || $("input:checkbox[name=agree2]").is(":checked") == false || $("input:checkbox[name=agree3]").is(":checked") == false){
            alert("이용약관 및 개인정보 관련 항목에 동의해 주세요.");
        }else {
            alert("회원 가입이 완료되었습니다.");
            location.href="login.html";
        }
    }

        
    
</script>