/* cafe_list_visitor(방문자)와 cafe_list_admin(관리자)에서 공통으로 사용하는 CSS 파일입니다. */
li {
    list-style-type: none;
}

.card-title {
    font-weight: bold;
}

/* qna.css에서 참고했습니다 */

thead {
    background-color:lightgrey;
    color: black;
    
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-blue {
    background-color: #6aafe6;
    color: #d4dfe6;
}

.card-body a {
	font-size: 25px;
	text-decoration: none;
	color: black;
}